@{
    ViewData["Title"] = "Error404";
}

<br />
<br />
<img src="~/images/error404.png" 
     height="450"
     width="500"
     class="center-block"/>
<h2 class="text-center">Sorry, page not found</h2>